# Environment files
.env
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
model/wound_photo/*.zip
model/wound_photo/Abrasions_1000.zip model/wound_photo/NEW_Abrasions.zip model/wound_photo/NEW_Bruise.zip model/wound_photo/NEW_Burn.zip model/wound_photo/NEW_Cut.zip model/wound_photo/NEW_Stab.zip model/wound_photo/NEW_Surgical.zip model/wound_photo/SERIOUS_ Wounds.zip model/wound_photo/新的假照片(生15張的.zip
model/wound_photo/Abrasions_1000.zip model/wound_photo/NEW_Abrasions.zip model/wound_photo/NEW_Bruise.zip model/wound_photo/NEW_Burn.zip model/wound_photo/NEW_Cut.zip model/wound_photo/NEW_Stab.zip model/wound_photo/NEW_Surgical.zip model/wound_photo/SERIOUS_ Wounds.zip model/wound_photo/新的假照片(生15張的.zip
model/wound_photo/*.zip
